*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


.container{
    width: 80%;
    min-width: 500px;
    margin: auto;
}

header{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

